/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

menu, ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*LAYOUT*/

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1-3 {
	width: 33%; /*calc(100% / 3)*/
    margin-bottom: 30px;
}

.page-content .row, .page-header .row {
	justify-content: space-between;
}

.page-content {
	padding-top: 30px;
}

.page-content .container {
	margin-top: 50px;
}

/*HEADER*/

.page-header {
	background-color: rgb(255, 102, 0);
    padding: 10px 0;
    color: white;
    font-size: 14px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.page-header .row {
	align-items: center;
}

.logo {
	width: 100px;
}

.link-menu {
	display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

/*CARD*/

.card-header {
	position: relative;
}

.card-body .text-small {
	font-size: 12px;
}

.price {
	font-weight: bold;
    color: red;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0
}

.col-1-3:hover .hover-image {
    opacity: 1
}

/*UTILITIES*/

.line-through {
	text-decoration: line-through;
}


/*COMPONENTS*/

.heart-badge {
    background-color: rgb(255, 255, 255);
    font-size: 30px;
	padding: 0 10px;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 999;
}

.badge {
    color: white;
    font-size: 10px;
	padding: 5px;
    font-weight: bold;
    z-index: 999;

}

.badge.badge-green {
    background-color: green;
    position: absolute;
    left: 35px;
    bottom: 35px;
}

.badge.badge-red {
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 35px;
}

.not-on-sale .badge.badge-green {
    position: absolute;
    left: 0px;
    bottom: 35px;
}


/*DEBUG*/

.debug .container {
    border: 1px solid red;
}

.debug .col-1-3 {
    border: 1px solid black;
}
