/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

menu, ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*LAYOUT*/

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1-3 {
	width: calc(100% / 3);
}

/*STYLE*/

.card-header {
	position: relative;
}

/*COMPONENTS*/

.heart-badge {
    background-color: rgb(255, 255, 255);
    font-size: 30px;
	padding: 0 10px;
    position: absolute;
    right: 0;
    top: 10px;
}

.badge {
    color: white;
    font-size: 10px;
	padding: 5px;
    font-weight: bold;
}

.badge.badge-green {
    background-color: green;
    position: absolute;
    left: 35px;
    bottom: 35px;
}

.badge.badge-red {
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 35px;
}



/*DEBUG*/

.debug .container {
    border: 1px solid red;
}

.debug .col-1-3 {
    border: 1px solid black;
}
